body{
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    color: #c9d1d9;
}

footer, header {
    background-color: rgb(31, 31, 31);
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    background-color: rgb(32, 32, 32);
    color: aliceblue;
    border: aliceblue solid 2px;
    border-radius: 5px;
    appearance: none;
}

button:hover{
    background-color: rgb(56, 56, 56);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aside1{
    background-color: rgb(39, 39, 39);

}
